table {
  margin-left: 20px;
  margin-bottom: 10px;
}

table.adminTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;

  text-align: left;
  border-collapse: collapse;
  
}

table.adminTable td, table.adminTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.adminTable tbody td {
  font-size: 13px;
}
table.adminTable tr:nth-child(even) {
  background: #686de0;
  color: white;
}
table.adminTable thead {
  background: #1C6EA4;
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.adminTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.adminTable thead th:first-child {
  border-left: none;
}

table.adminTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.adminTable tfoot td {
  font-size: 14px;
}
table.adminTable tfoot .links {
  text-align: right;
}
table.adminTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

td {
  width: 150px;
}
