.fullclick {
    margin: 1em 0;
    padding: 0;
    max-width: 30em;
}

.fullclick li {
    list-style: none;
    margin: 1em 0;
    padding: 20px 10px;
    
    position: relative;
    transition: 400ms;
}

.fullclick p .main {
    color: lime;
    z-index: 2;
    position: relative;
}

.fullclick .main {
    color: #85baff;
    text-align: right;
    display: block;
    z-index: 1;
}

.fullclick li .main::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}

.fullclick:hover .main,
.fullclick:focus-within .main {
    color: #cfe4ff;
}

.fullclick li button {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: 400ms;
    border: none;
    color: #fff;
    background: #333;
}

.fullclick li:hover button,
.fullclick li:focus-within button {
    opacity: 1;
}

.cardBox {
	display: inline-grid;
	gap: 10px;

}

.card {

    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
	margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0;
    cursor: pointer;
}

.contain {
    padding: 2px 16px;
	color: black;
}

img {
    height: 50%;
    width: 50%;
	object-fit: contain;
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.welcome {
	box-shadow: 0 4px 8px 0;
    transition: 0.3s;
	background-color: lightBlue;
	padding: 25px;
	font-weight: bold; 
}

.welcome:hover {
    box-shadow: 0 8px 16px 0;
}